/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root{
    --title: #E5316F;
    --empl-bg-color: #100E17;
    --link-color: #52B5E2;
}

.column::after, .row::after{
    content: '';
    clear: both;
    display: table;
} 

/* Generics */

header,p{
    text-align: center;
}

header{
    color: var(--title);
    margin: 2rem;
}



/* employee description */

main{
    margin: 0 7rem;
}

.row{
    margin-top: 2rem;
}

.column{
    background-color: var(--empl-bg-color) ;
    color: white;
    float: left;
    height: 90px;
    width: calc(100%/3);
}

img{
    height: 100%;
    float: left;
}

h3,section{
    display: inline-block;
}

section{
    padding: .3rem .5rem 0 .5rem;
}

h3,span{
    font-size: .8rem;
    line-height: 1.6rem;
}

a{
    text-decoration: none;
    color: var(--link-color);
}





